{
  "GithubAPI": "{{.githubAPI}}",
  "GithubAPIKey": "{{.githubAPIKey}}",
  "ImportPrefix": "{{.appDomainName}}",
  "LogLevel": "{{.logLevel}}",
  "NoRedirectAgents": [
    "Go-http-client",
    "GoDocBot"
  ],
  "OrgList": [
    "cloudfoundry",
    "cloudfoundry-incubator",
    "cloudfoundry-attic"
  ],
  "Overrides": {
    "config-server": {
      "Repository": "https://github.com/cloudfoundry/config-server-release",
      "Path": "src/config-server"
    },
    "guardian": {
      "Repository": "https://github.com/cloudfoundry/garden-runc-release",
      "Path": "src/code.cloudfoundry.org/guardian"
    },
    "stager": {
      "Repository": "https://github.com/cloudfoundry-incubator/stager"
    }
  }
}
