---
application:
  - name: {{.appName}}
env:
  GOPACKAGENAME: github.com/cloudfoundry/go-fetcher/cmd/go-fetcher
  GOVERSION: go1.6
  CONFIG: config.json
{{ if .services }}services:{{ end }}
{{ range .services }}- {{ . }}
{{ end }}
