---
applications:
  - name: {{.appName}}
    memory: {{.memory}}
    instances: {{.instances}}
    disk_quota: {{.disk_quota}}
    routes:
    - route: {{.route}}
env:
  GOPACKAGENAME: github.com/cloudfoundry/go-fetcher/cmd/go-fetcher
  GOVERSION: go1.10
  CONFIG: config.json
{{ if .services }}services:{{ end }}
{{ range .services }}- {{ . }}
{{ end }}
